@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

span {
    font-weight: bold;
}

body {
    width: 100%;
    height: 100vh;
    align-items: center;
    background: rgb(192, 133, 31);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: wheat;
    padding: 10px;
    align-items: center;
}

.box {
    display: flex;
    
}

.box h2 {
    margin-right: 10px;
}


.lecturer {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 20px;
}

.lecturer p {
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    min-height: 75.5vh;
}

.board {
    max-width: 800px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    height: fit-content;
}

.info {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-around;
    align-items: flex-start;
}

.line {
    width: 500px;
    border: 1px solid black;
    background: black;
}

.lesson p {
    margin-top: 20px;
}

.lesson ul {
    margin-left: 20px;
}

.lesson ul li {
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    height: 70px;
    background: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer h2 {
    font-size: 15px;
}

footer h2 a {
    text-decoration: none;
    background: white;
    width: fit-content;
    padding: 10px;
    color: black;
    border-radius: 10px;
    border: 1px solid white;
}

footer h2 a:hover {
    background: rgb(192, 133, 31);
    color: white;
    transition: .5s;
}